@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap);





body {
  font-family: Montserrat;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-sm {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.bg-primary {
  background-color: #ff4f7b !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #188ef4 !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ff4f7b !important;
  border-color: #ff4f7b !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #ff0242 !important;
  border-color: #ff0242 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff0242 !important;
  border-color: #ff0242 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #2bdc9d !important;
  border-color: #2bdc9d !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #1aa071 !important;
  border-color: #1aa071 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1aa071 !important;
  border-color: #1aa071 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0966b7 !important;
  border-color: #0966b7 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0966b7 !important;
  border-color: #0966b7 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  transition: all .5s;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  transition: all .5s;
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  transition: all .5s;
  color: #808080 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  transition: all .5s;
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  transition: all .5s;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  transition: all .5s;
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #e8003a !important;
  color: #e8003a !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #ff4f7b !important;
  border-color: #ff4f7b !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4f7b !important;
  border-color: #ff4f7b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #178a61 !important;
  color: #178a61 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #2bdc9d !important;
  border-color: #2bdc9d !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2bdc9d !important;
  border-color: #2bdc9d !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #08589e !important;
  color: #08589e !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #cccccc !important;
  color: #cccccc !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #cccccc !important;
  color: #cccccc !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #111111 !important;
  color: #111111 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ff4f7b !important;
}
.text-secondary {
  color: #2bdc9d !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #188ef4 !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #e8003a !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #178a61 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #08589e !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #188ef4;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:hover,
.mbr-section-btn a.btn:focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff4f7b;
  border-color: #ff4f7b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff4f7b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #dbedfd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
.mbr-arrow-up a {
  width: 61px;
  height: 61px;
}
#scrollToTop a {
  background: #2969b0;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffffff;
  width: 3%;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mbr-arrow i {
  color: #2969b0;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #ff4f7b;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ff4f7b;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ff4f7b;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff4f7b;
  color: #ffffff;
}
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff4f7b;
  border-bottom-color: #ff4f7b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff4f7b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #2bdc9d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff4f7b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rDvtx8SHaP .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rDvtx8SHaP .nav-item,
.cid-rDvtx8SHaP .nav-link,
.cid-rDvtx8SHaP .navbar-caption {
  font-weight: normal;
}
.cid-rDvtx8SHaP .nav-item:focus,
.cid-rDvtx8SHaP .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-rDvtx8SHaP .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.cid-rDvtx8SHaP .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rDvtx8SHaP .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-rDvtx8SHaP .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rDvtx8SHaP .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-rDvtx8SHaP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rDvtx8SHaP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rDvtx8SHaP .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rDvtx8SHaP .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rDvtx8SHaP .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #2969b0;
}
.cid-rDvtx8SHaP .navbar.opened {
  transition: all .3s;
  background: #2969b0 !important;
}
.cid-rDvtx8SHaP .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-rDvtx8SHaP .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rDvtx8SHaP .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rDvtx8SHaP .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rDvtx8SHaP .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rDvtx8SHaP .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rDvtx8SHaP .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rDvtx8SHaP .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rDvtx8SHaP .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rDvtx8SHaP .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rDvtx8SHaP .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rDvtx8SHaP .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rDvtx8SHaP .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rDvtx8SHaP .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rDvtx8SHaP .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rDvtx8SHaP .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rDvtx8SHaP .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rDvtx8SHaP .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rDvtx8SHaP .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rDvtx8SHaP .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rDvtx8SHaP .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rDvtx8SHaP .navbar.navbar-short {
  background: #2969b0 !important;
  min-height: 60px;
}
.cid-rDvtx8SHaP .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rDvtx8SHaP .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rDvtx8SHaP .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rDvtx8SHaP .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rDvtx8SHaP .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rDvtx8SHaP .dropdown-item.active,
.cid-rDvtx8SHaP .dropdown-item:active {
  background-color: transparent;
}
.cid-rDvtx8SHaP .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rDvtx8SHaP .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rDvtx8SHaP .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #2969b0;
}
.cid-rDvtx8SHaP .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rDvtx8SHaP .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rDvtx8SHaP ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rDvtx8SHaP .navbar-buttons {
  text-align: center;
}
.cid-rDvtx8SHaP button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rDvtx8SHaP button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rDvtx8SHaP button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rDvtx8SHaP button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rDvtx8SHaP button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rDvtx8SHaP button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rDvtx8SHaP nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rDvtx8SHaP nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rDvtx8SHaP nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rDvtx8SHaP nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rDvtx8SHaP .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rDvtx8SHaP a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rDvtx8SHaP .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-rDvtx8SHaP .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-rDvtx8SHaP .soc-item {
  margin: .5rem .3rem;
}
.cid-rDvtx8SHaP .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rDvtx8SHaP .navbar {
    height: 77px;
  }
  .cid-rDvtx8SHaP .navbar.opened {
    height: auto;
  }
  .cid-rDvtx8SHaP .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rDveMcLUr8 {
  padding-top: 180px;
  background-image: url("../../../assets/images/linelineline-1600x1067.jpg");
}
.cid-rDveMcLUr8 .container {
  margin-bottom: 15%;
}
.cid-rDveMcLUr8 .content-container .btn-bgr {
  z-index: 0;
}
.cid-rDveMcLUr8 .container-boxes {
  padding-bottom: 90px;
  position: relative;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #f4f8fa;
}
.cid-rDveMcLUr8 .icon-block-top span {
  background-color: #2969b0;
  padding: 1.5rem;
  position: absolute;
  border-radius: 50%;
  margin-top: -2.5rem;
  top: 0;
  font-size: 1.8rem;
  width: 78px;
  height: 78px;
}
.cid-rDveMcLUr8 .box-item {
  position: relative;
  box-shadow: #d2d2d2 0px 0px 15px;
  border-radius: 3px;
  margin-right: 1.5rem;
  width: 29%;
  padding: 2.5rem;
}
.cid-rDveMcLUr8 .box-item:first-child {
  background-color: #ffffff;
  margin-top: -150px;
}
.cid-rDveMcLUr8 .box-item:nth-child(2) {
  background-color: #ffffff;
}
.cid-rDveMcLUr8 .box-item:last-child {
  background-color: #ffffff;
  margin-right: 0;
}
.cid-rDveMcLUr8 .mbr-text,
.cid-rDveMcLUr8 .box-item-text {
  color: #8d97ad;
}
.cid-rDveMcLUr8 .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-rDveMcLUr8 .box-list li {
  border-bottom: 1px solid;
  padding: 10px 0 5px;
}
.cid-rDveMcLUr8 .box-list li:last-child {
  border-bottom: none;
}
.cid-rDveMcLUr8 .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
}
.cid-rDveMcLUr8 .media-content {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
@media (min-width: 992px) {
  .cid-rDveMcLUr8 .box-item {
    margin-top: -150px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .cid-rDveMcLUr8 .p-descr {
    margin-bottom: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rDveMcLUr8 .box-item {
    margin-bottom: 4rem;
    margin-right: 0;
    margin-top: 0;
    width: 90%;
  }
  .cid-rDveMcLUr8 .box-item:last-child {
    margin-bottom: 0;
  }
  .cid-rDveMcLUr8 .content-container {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
  }
  .cid-rDveMcLUr8 .box-item:first-child {
    margin-top: -100px;
  }
}
.cid-rDvaVG6atR {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rDvaVG6atR .mbr-iconfont {
  font-size: 50px;
  transition: color .3s;
  padding: 1.5rem;
}
.cid-rDvaVG6atR .mbr-section-title {
  margin: 0;
}
.cid-rDvaVG6atR .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-rDvaVG6atR .card-img span {
  color: #2969b0;
}
.cid-rDvaVG6atR .row-item {
  margin-bottom: 2rem;
}
.cid-rDvaVG6atR .row-item:hover .wrapper {
  background: linear-gradient(90deg, #2969b0, #2969b0);
  cursor: pointer;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all 0.3s;
}
.cid-rDvaVG6atR .row-item:hover .card-img span {
  color: #ffffff !important;
}
.cid-rDvaVG6atR .row-item:hover .mbr-card-title {
  color: #ffffff !important;
}
.cid-rDvaVG6atR .wrapper {
  padding: 2.5rem 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rDvgYqOHwe {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(90deg, #ffffff, #f4f8fa);
}
.cid-rDvgYqOHwe .mbr-overlay {
  background: linear-gradient(90deg, #1dc8cc, #188ef4);
}
.cid-rDvgYqOHwe .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-rDvgYqOHwe .card-wrap {
  background-color: #ffffff;
  padding: 2rem;
  width: calc(100% + 10rem);
  margin-left: -10rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rDvgYqOHwe .img-wrap img {
  width: 100%;
  border-radius: .25rem;
}
@media (max-width: 991px) {
  .cid-rDvgYqOHwe .card-wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}
.cid-rDvgYqOHwe .mbr-section-subtitle,
.cid-rDvgYqOHwe .mbr-section-btn {
  text-align: center;
}
.cid-rDvzGPu05G {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rDvzGPu05G .card-text,
.cid-rDvzGPu05G .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-rDvzGPu05G .main,
.cid-rDvzGPu05G .main-reverse {
  border: 1px solid rgba(120, 130, 140, 0.13);
  margin: 0;
  background: #f4f8fa;
}
.cid-rDvzGPu05G .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rDvzGPu05G .main-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rDvzGPu05G .image-element {
  padding: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rDvzGPu05G .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rDvzGPu05G .text-element {
  padding: 3rem 2rem;
}
.cid-rDvzGPu05G .mbr-iconfont {
  font-size: 3rem;
  color: #188ef4;
}
.cid-rDvzGPu05G .bottom-radius {
  overflow: hidden;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.cid-rDvzGPu05G .top-radius {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cid-rDvzGPu05G .main-reverse {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-rDvzGPu05G .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-rDvzGPu05G .image-element,
  .cid-rDvzGPu05G .text-element {
    margin-bottom: 0;
  }
  .cid-rDvzGPu05G .main:first-child {
    padding-top: 0;
  }
}
.cid-rDvsoFcIOO {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rDvsoFcIOO .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rDvsoFcIOO .content-panel {
  padding: 2rem;
  background-color: #08579f;
  border-radius: .25rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rDvsoFcIOO .content-block {
  color: #efefef;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-rDvsoFcIOO .form-group,
  .cid-rDvsoFcIOO .input-group-btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
.cid-rDvsoFcIOO .form-control {
  border-radius: .25rem !important;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  min-height: 40px;
}
.cid-rDvsoFcIOO textarea.form-control {
  min-height: 170px;
}
@media (max-width: 768px) {
  .cid-rDvsoFcIOO .main-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rDvsoFcIOO .text-block {
    margin-bottom: 2rem;
  }
}
.cid-rDvGrFpaHt {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rDvGrFpaHt .mbr-text {
  color: #444;
}
.cid-rDvGrFpaHt .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rDvGrFpaHt .social-list .mbr-iconfont-social {
  font-size: 1.1rem;
  color: black;
}
.cid-rDvGrFpaHt .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rDvGrFpaHt .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rDvGrFpaHt .social-list a:hover {
  opacity: .4;
}
@media (max-width: 991px) {
  .cid-rDvGrFpaHt .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rDvGrFpaHt .media-container-row > div {
  padding: 0px;
}
@media (max-width: 991px) {
  .cid-rDvGrFpaHt .mbr-text {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}
